:root {
    --building-color1: #aa80ff;
    --building-color2: #66cc99;
    --building-color3: #cc6699;
    --building-color4: #538cc6;
    --window-color1: #bb99ff;
    --window-color2: #8cd9b3;
    --window-color3: #d98cb3;
    --window-color4: #8cb3d9;
    --sky-day: #87CEEB;
    --sky-night: #001F3F;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.sky {
    width: 100%;
    height: 100%;
    background-color: var(--sky-day);
    position: relative;
    overflow: hidden;
    transition: background-color 3s linear;
}

.sun, .moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.sun {
    background-color: #FFD700;
}

.moon {
    background-color: #F0E68C;
    display: none;
}

@keyframes sun-move {
    0% {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    50% {
        bottom: 70%;
        left: 10%;
        transform: translateX(0);
    }
    100% {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes moon-move {
    0% {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    50% {
        bottom: 70%;
        left: 90%;
        transform: translateX(-100%);
    }
    100% {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.sun {
    animation: sun-move 20s infinite linear;
}

.moon {
    animation: moon-move 20s infinite linear;
}

.background-buildings, .foreground-buildings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
}