:root {
    --building-color1: #aa80ff;
    --building-color2: #66cc99;
    --building-color3: #cc6699;
    --building-color4: #538cc6;
    --window-color1: #bb99ff;
    --window-color2: #8cd9b3;
    --window-color3: #d98cb3;
    --window-color4: #8cb3d9;
    --sky-day: #87CEEB;
    --sky-night: #223 ;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.sky {
    width: 100%;
    height: 100%;
    background-color: var(--sky-day);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: background-color 3s linear;
}

.sun, .moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
   
}

.sun {
    background-color: #FFD700;
    box-shadow: 0px 0px 30px #FFD700; 
}

.moon {
    background-color: #ccc;
    display: none;
    box-shadow: 0px 0px 30px #ccc; 
}

@keyframes sun-move {
    0% {
        bottom: -100px;
        left: 0%;
        transform: translateX(0) translateY(0);
    }
    50% {
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        bottom: -100px;
        left: 100%;
        transform: translateX(-100%) translateY(0);
    }
}

@keyframes moon-move {
    0% {
        bottom: -100px;
        left: 0%;
        transform: translateX(0) translateY(0);
    }
    50% {
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        bottom: -100px;
        left: 100%;
        transform: translateX(-100%) translateY(0);
    }
}

.sun {
    animation: sun-move 20s infinite linear;
}

.moon {
    animation: moon-move 20s infinite linear;
}

.background-buildings,
.foreground-buildings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.foreground-buildings {
    z-index: 4;
}

.background-buildings div,
.foreground-buildings div {
    position: relative;
    background-color: var(--building-color1);
    width: 50px;
    height: 200px;
}

.building-wrap {
    display: flex;
    flex-direction: column;
}

.bb1, .bb2, .bb3, .bb4,
.fb1, .fb2, .fb3, .fb4, .fb5, .fb6 {
    background-color: var(--building-color2);
}

.bb1-window, .bb4-window,
.fb2-window, .fb3-window, .fb4-window {
    background-color: var(--window-color1);
    width: 20px;
    height: 20px;
    margin: 2px;
}